<!DOCTYPE html>
<html>
    <head>
        <!-- <link rel="stylesheet" href="./style.css"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <div class="toolContainer">
            <p id="title">
                Spam Email Detector
            </p>

            <p class="CHeader">Click run to start the script then select a model:</p>

            <div class="headerContainer">
                <button class="runButton" id="startButton" type="button">Run</button>
                <button class="inputButton" type="button" value="1">Linear SVM</button>
                <button class="inputButton" type="button" value="2">Kernel SVM</button>
                <button class="inputButton" type="button" value="3">FFNN</button>
                <button class="inputButton" type="button" value="4">Best Model</button>
                <button class="inputButton" type="button" value="5">Exit</button>
            </div>

            <p class="CHeader">Options for testing your own email:</p>

            <div class="headerContainer">
                <button class="inputButton" type="button" value="Y">Yes</button>
                <button class="inputButton" type="button" value="N">No</button>
                <input type="text" id="inputValue" placeholder="Enter subject">
                <button class="submitButton" type="button" onclick="sendSubject()">Submit Subject</button>
            </div>

            <p class="CHeader">Terminal:</p>

            <div class="bodyContainer">
                <!-- <div class="scrollableTextbox"> 
                    
                </div> -->
                <pre class="scrollableTextbox" id="output"></pre>

                
            </div>

            <div class="footerContainer">
                
            </div>

        </div>

        <!-- <script src="./script.js"></script> -->
        <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
